# simple celerybeat upstart job
# simple celery worker upstart job

description "{{ project_name }}-celeryworker instance"
start on runlevel [2345]
stop on runlevel [06]

setuid konektom
env SECRET_KEY={{ SECRET_KEY }}


exec {{ virtualenv_dir }}/bin/python {{ django_dir }}/manage.py celery worker --loglevel=INFO --settings={{ django_settings }}
