# simple celerybeat upstart job

description "{{ project_name }}-celerybeat instance"
start on runlevel [2345]
stop on runlevel [06]

env SECRET_KEY={{ SECRET_KEY }}
env DJANGO_SECRET_KEY={{ SECRET_KEY }}
env DJANGO_SETTINGS_MODULE={{ django_settings }}
env DJANGO_AWS_ACCESS_KEY_ID={{ DJANGO_AWS_ACCESS_KEY_ID }}
env DJANGO_AWS_SECRET_ACCESS_KEY={{ DJANGO_AWS_SECRET_ACCESS_KEY }}
env DJANGO_AWS_STORAGE_BUCKET_NAME={{ DJANGO_AWS_STORAGE_BUCKET_NAME }}
env DATABASE_URL=postgres://localhost/{{ database_name }}
env SENDGRID_USERNAME={{ SENDGRID_USERNAME }}
env SENDGRID_PASSWORD={{ SENDGRID_PASSWORD }}
env EMAIL_HOST={{ EMAIL_HOST }}
env EMAIL_HOST_USER={{ EMAIL_HOST_USER }}
env EMAIL_HOST_PASSWORD={{ EMAIL_HOST_PASSWORD }}

exec {{ virtualenv_dir }}/bin/python {{ django_dir }}/manage.py celery beat --loglevel=INFO --settings={{ django_settings }}
